NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_EXPLORER_URL=https://sepolia.arbiscan.io

NEXT_PUBLIC_ELP_TOKEN_ADDRESS=
NEXT_PUBLIC_STAKING_ADDRESS=
NEXT_PUBLIC_VESTING_ADDRESS=
NEXT_PUBLIC_GOVERNOR_ADDRESS=

NEXT_PUBLIC_LIQUIDITY_POOL_ADDRESS=
NEXT_PUBLIC_LP_LOCK_ADDRESS=
NEXT_PUBLIC_FAUCET_URL=https://faucets.chain.link/arbitrum-sepolia

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
