# Node & Next.js
node_modules/
.next/
out/
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Foundry & Contracts
contracts/lib/
contracts/out/
contracts/cache/
cache/
out/
broadcast/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
*.pem

# IDE
.vscode/
.idea/
